Repository bcgov/jag-isb-splunk-chatops, pull requests merged in 2020-09, with the labels that each got.

#10 Finish refactor to bcgov
  pom.xml
  src/main/java/ca/bc/gov/notificationservice/configuration/Config.java
  src/main/resources/public/img/bcid-192x192.png
  src/test/java/ca/bc/gov/notificationservice/rocket/RocketChannelServiceTest.java
  src/test/java/ca/bc/gov/notificationservice/teams/TeamsChannelServiceTest.java
Labels: documentation

#12 Fix: Update Teams Card
  src/main/java/ca/bc/gov/notificationservice/controller/UpdateCardController.java
  src/main/java/ca/bc/gov/notificationservice/teams/TeamsChannelService.java
  src/main/resources/application.yml
  src/test/java/ca/bc/gov/notificationservice/controller/UpdateCardControllerTest.java
Labels: enhancement

#18 Adding PR Template + Template for Chatops BC
  .github/pull_request_template.md
  openshift/applications/builds/jag-isb-chatops-bc.yaml
Labels: openshift

#19 Standardized Code Climate Git Action
  .github/workflows/code-climate-test-coverage.yml
  .github/workflows/jacoco-coverage.yml
Labels: git action

#22 deployment config for chatops application
  openshift/applications/deploymentConfigs/jag-isb-chatops-dc.yaml
Labels: openshift

#28 Openshift deployment Pipeline Template
  openshift/applications/builds/jag-isb-chatops-pipeline-bc.yaml
Labels: openshift
